*{

    padding: 0;
    margin: 0;
    font-family:normal, Helvetica;
}

/* Iniciando Mobile First*/

/* bg header apenas de backgoround com imagem rotada */
.bg-header{
    background-color: #707070;
    width: 500%;
    height: 546px;
    position: absolute;
    top: 0;
    transform: skewX(77deg);
    z-index: -2;

}
/* header */
.header{
    color: #ffffff;
    position: relative;
    width: 100%;
    padding-top: 66px;
    overflow: hidden;
    opacity: 1;
}

.header span{
    margin-left: 16px;
    font-size: 21px;
    opacity: 1;
}

.header h1{
    margin-left: 16px;
    font-size: 41px;
    margin-bottom: 3px;
    opacity: 1;
}
.header p{
    margin-left: 16px;
    font-size: 15px;
    opacity: 1;
}

.links{
    padding-top: 36px;
    padding-bottom: 88px;
    width: 90%;
    margin: 0 auto;
    padding-left: 8%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button{
    cursor: pointer;
    width: 160px;
    margin-right: 27px;
    background-color: #ffffff;
    margin-top: 20px;
    height: 40px;
    box-shadow: 0px 1px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    color: #888888;
}

.button:hover{
    background-color: #888888;
    color: #ffffff;
    border: 1px solid #ffffff;
    transition: 0.4s;
}

 /* News */
.contentNews{
    width: 100%;
    color: #888888;
}

.news{
    margin-left: 16px;
    margin-right: 16px;
    line-height: 21px;
}

.news h2{
    font-size: 20px;
    margin-bottom: 16px;
}

.news p{
    font-size: 12px;
    margin-bottom: 30px;
}
 /* form */
.formulario{
    width: 90%;
    margin: 0 auto;
    display:block;
    margin-bottom: 90px;
}

.input1{
    width: 100%;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 34px;
}

.input1:focus{
    border: 2px solid #818080;
}

.label1{
    font-size: 14px;
}

.genero{
    display: flex;
    height: 15px;
}

.errorForm{
    color: red;
    text-align: right;
    display: none;
}

.btnform{
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    background-color: transparent;
    color: #888888;
    height: 39px;
    border: 1px solid #888888;
    border-radius: 4px;
    opacity: 1;
}

.btnform:hover{
    background-color: #888888;
    color: #ffffff;
    border: 1px solid #ffffff;
    transition: 0.4s;
}

.genero label{
    margin-right: 40px;
    font-size: 14px;
    align-items: center;
}

.genero input{
    margin-right: 5px;
}

/* mensagem da parte do email */
.contentEmail{
    margin-left: 15px;
    margin-right: 15px;
    color: #888888;
    display: none;
}

.contentEmail h1{
    font-size: 20px;
    margin-bottom: 16px;
}

.contentEmail p {
    font-size: 12px;
    margin-bottom: 30px;
}

/* products api */
.contentProduct{
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    margin-bottom: 23px;
}

.contentProduct span{
    position: absolute;
    display: flex;
    width: 100%;
    background-color: #707070;
    color: #707070;
    height: 1px;
    z-index: -1;
}

.contentProduct h2{
    color: #888888;
    font-size: 18px;
    padding-left: 17px;
    padding-right: 17px;
    background-color: #ffffff;
}

/*Api*/

.productApi{
    display: block;
    width: 100%;
}

.listApi{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 130px;
    margin-bottom: 30px;
    align-items: center;
}

.productsImg{
    height: 129px;
    justify-content: center;
    display: flex;
    width: 249px;
    margin-left: 10px;
    border: 1px solid #707070;
}

.productsImg {
    height: 129px;
    width: 169px;
    margin-left: 10px;
    border: 1px solid #707070;
}

.productsInfo{
    margin-left: 23px;
    display: block;
    width: 200px;
    height: 138px;
    margin-right: 18px;
    color: #888888;
}

.description{
    font-size: 0.8rem;
    font-weight: normal;
    margin-top: 5px;
    display: none;
}

.productsInfo p{
    font-size: 1rem;
    margin-bottom: 5px;
}

.price{
    margin-bottom: 5px;
    margin-top: 5px;
}

.productsInfo span{
    font-size: 0.8rem;
}

.btnComprar{
    cursor: pointer;
    margin-top: 10px;
    width: 200px;
    background-color: transparent;
    color: #888888;
    height: 30px;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
}

.btnComprar:hover{
    background-color: #888888;
    color: #ffffff;
    border: 1px solid #ffffff;
    transition: 0.4s;
}

.productApi h1{
    color: #888888 ;
}

/* Button para mostrar mais itens da api*/
.btnApi{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 53px;
    margin-bottom: 159px;
    display: flex;
}

.btnMoreProducts{
    cursor: pointer;
    margin-top: 10px;
    width: 260px;
    background-color: transparent;
    color: #888888;
    height: 39px;
    font-size: 18px;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
}

.btnMoreProducts:hover{
    background-color: #888888;
    color: #ffffff;
    border: 1px solid #ffffff;
    transition: 0.4s;
}

/* compartilhar para um amigo */
.share{
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    margin-bottom: 28px;
}

.share span{
    position: absolute;
    display: flex;
    width: 100%;
    background-color: #707070;
    color: #707070;
    height: 1px;
    z-index: -1;
}

.share h2{
    color: #888888;
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #ffffff;
}

.sharecontent{
    width: 90%;
    margin: 0 auto;
    display:block;
    margin-bottom: 85px;
    color: #888888;
}

.p{
    font-size: 13px;
    text-align: center;
    width: 100%;
    margin-bottom: 28px;
}

.btnformShare{
    cursor: pointer;
    margin-top: 20px;
    width: 260px;
    background-color: transparent;
    color: #888888;
    height: 39px;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
}

.btnformShare:hover{
    background-color: #888888;
    color: #ffffff;
    border: 1px solid #ffffff;
    transition: 0.4s;
}

.btn{
    justify-content: center;
    width: 100%;
    display: flex;
}

/* footer */

.footer{
    height: 157px;
    width: 100%;
    overflow: hidden;
    color: #ffffff;
    position: relative;
}

.bgFooter{
    background-color: #707070;
    width: 500%;
    height: 123%;
    position: absolute;
    bottom: 0;
    transform: skewX(-85deg);
    z-index: -2;
}

.footer p{
    font-size: 12px;
    margin-top: 70px;
    text-align: center;
}


/*== responsividade para email == */

@media (min-width: 600px){

    .bg-header{
        transform: skewX(85deg);
        height: 298px;
        width: 540%;
    }

    .header{
        text-align: center;
        padding-top: 31px;
        height: 198px;
    }

    .header span{
        margin: 0;
    }

    .header p{
        margin: 0;
        width: ;
    }

    .links{
        display: none;
    }

    .contentNews{
        display: none;
    }

    .productApi {
        display: grid;
        width: 100%;
        justify-content: center;
        grid-template-columns: 40% 40%;
    }

    .productApi {
        justify-content: center;
        display: grid;
        grid-column-gap: 41px;
        grid-template-columns: 200px 200px;
        width: 100%;
    }

    .listApi {
        display: block;
        height: 350px; 
        margin-bottom: 30px;
        align-items: center;
    }

    .productsImg {
        height: 150px;
        width: 200px;
        margin-bottom: 14px;
        margin-left: 0px;
    }

    .description{
        display: block;
        margin-bottom: 5px;
    }

    .productsInfo {
        margin-left: 0px;
        margin-right: 0px;
    }

    .contentProduct{
        display: none;
    }

    .btnApi {
        margin-bottom: 50px;
        margin-top: 32px;
    }

    .btnMoreProducts {
        width: 383px;
    }

    .share{
        display: none;
    }
    
    .sharecontent{
        display: none;
    }

    .footer{
        height: 198px;
    }

    .bgFooter{
        height: 237px;
        transform: skewX(-85deg);
    }

    .footer p{
        margin-top: 100px;
    }

    .contentEmail{
        display: block;
    }
}
    
/* Responsivo para desktop */
@media (min-width: 970px){
    .contentEmail{
        display: none;
    }

    .links{
        display: block;
        width: 100%;
        padding-left: 0;
    }

    .header{
        height: 366px;
        padding-top: 61px;
    }

    .header span{
        margin: 0;
    }

    .header h1{
        margin-left: 0;
    }

    .header p{
        font-size: 16px;
        margin: 0;
    }

    .bg-header{
        height: 532px;
    }

    .bgFooter{
        height: 212px;
        transform: skewX(-87deg);
    }

    .footer p{
        font-size: 14px;
    }

    .contentNews{
        display: flex;
        width: 920px;
        margin: 0 auto;
    }

    .news{
        width: 49%;
        margin: 0;
    }

    .news p{
        font-size: 14px;
    }

    .form{
        width: 49%;
        margin-left: 2%;
    }

    .formulario{
        width: 100%;
    }

    .contentProduct{
        display: flex;
        margin: 0 auto;
        width: 920px;  
        padding-bottom: 41px;
    }

    .productApi {
        display: grid;
        margin: 0 auto;
        grid-column-gap: 41px;
        grid-template-columns: 200px 200px 200px 200px;
        width: 920px;
    }

    .btnApi {
        margin-bottom: 140px;
        margin-top: 52px;
    }

    .share{
        display: flex;
        margin: 0 auto;
        width: 920px;
    }

    .sharecontent{
        display: block;
        margin-top: 44px;
    }

    .sharelabels{
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 920px;
    }

    .sharelabels input{
        width: 340px;
        margin-right: 40px;
        margin-top: 7px;
    }

    .lb1{
        display: block;
        width: 39%;
        margin-right: 60px;
    }

    .lb2{
        display: block;
        width: 39%;
    }

    p{
        font-size: 16px;
    }
}